/* <!-- Créez un fichier index.php contenant les balises html de base (doctype,
html, head, body). Créez un fichier style.css et ajouter des propriétés
permettant à votre body d’avoir une couleur de background #88c1d0.
A l’aide des media queries, cette couleur doit évoluer de la façon suivante :

- #ffca4b lorsque la résolution est comprise entre 1680 et 1920
- #275fa0 lorsque la résolution est comprise entre 1280 et 1680
- #ffffff lorsque la résolution est inférieure à 1280 -->
<!DOCTYPE html> */



@media screen and (min-width:1600px) {
  body{
    display: flex;
    flex-direction: row;
  }
}
  @media screen and (min-width:768px) and (max-width: 1599px) {
    body{
      display: flex;
      flex-wrap: wrap;
      
    }
  }
  @media screen and (max-width: 767px) {
    body{
      display: flex;
      flex-direction: column;
    }
    
  }


  .section{
    background-color: #88c1d0;
    align-items: center;
    width:30vh;
    height:30vh;
    border: 1px black solid;
    border-radius: 1em;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }