/* <!-- Créez un fichier index.php contenant les balises html de base (doctype,
html, head, body). Créez un fichier style.css et ajouter des propriétés
permettant à votre body d’avoir une couleur de background #88c1d0.
A l’aide des media queries, cette couleur doit évoluer de la façon suivante :

- #ffca4b lorsque la résolution est comprise entre 1680 et 1920
- #275fa0 lorsque la résolution est comprise entre 1280 et 1680
- #ffffff lorsque la résolution est inférieure à 1280 -->
<!DOCTYPE html> */

main{
  display: flex;
  justify-content: center;
  align-items: center;

}
article{
  width:70%;
  height:70%;
}

@media screen and (min-width:1600px) {
  article{
    display: flex;
    flex-direction: row;
  }
}
  @media screen and (min-width:768px) and (max-width: 1599px) {
    article{
      display: flex;
      flex-wrap: wrap;
      
    }
    article > .section{
      flex: 40%;

        flex-direction: wrap;
        /* height:50%; */
    }
  }
  @media screen and (max-width: 767px) {
    article{
      display: flex;
      flex-direction: column;
      
    }
    
  }


  .section{
    background-color: #88c1d0;
    align-items: center;
    width:200px;
    height:200px;
    border: 1px black solid;
    border-radius: 1em;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin:20px;
    box-shadow: 3px 3px 3px black;
  }